<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bar.mapper.MNewFloorMapper">

    <resultMap type="MFloor" id="MFloorResult">
        <result property="floorId"    column="floor_id"    />
        <result property="floorUser"    column="floor_user"    />
        <result property="floorText"    column="floor_text"    />
        <result property="floorPost"    column="floor_post"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="floorFlag"    column="floor_flag"    />
        <result property="floorFloorUserId"    column="floor_floor_user_id"    />
        <result property="floorFloorId"    column="floor_floor_id"    />
        <result property="floorIndex"    column="floor_index"    />
    </resultMap>

    <select id="getAllActiveUserByMonth" parameterType="Integer" resultType="Integer" >
    select count(DISTINCT floor_user) num
    from m_floor
    where month(creat_time) = #{month} and year(creat_time) = #{year}
    </select>

    <select id="getAllActiveUserByMonthForList" parameterType="Integer" resultType="Map" >
    select day(creat_time) day,count(DISTINCT floor_user) num
    from m_floor
    where month(creat_time) = #{month} and year(creat_time) = #{year}
    group by day
    </select>
    
</mapper>