<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改帖子')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-post-edit" th:object="${mPost}">
            <input name="postId" th:field="*{postId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">发帖人id：</label>
                <div class="col-sm-8">
                    <input name="postUserIs" th:field="*{postUserIs}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">帖子标题：</label>
                <div class="col-sm-8">
                    <input name="postSpan" th:field="*{postSpan}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">正文：</label>
                <div class="col-sm-8">
                    <input name="postText" th:field="*{postText}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="creatTime" th:value="${#dates.format(mPost.creatTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">归属贴吧id：</label>
                <div class="col-sm-8">
                    <input name="barId" th:field="*{barId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">帖子权限：</label>
                <div class="col-sm-8">
                    <select name="postJurisdiction" class="form-control m-b" th:with="type=${@dict.getType('m_bar_jurisdiction')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{postJurisdiction}"></option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "post/post";
        $("#form-post-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-post-edit').serialize());
            }
        }

        $("input[name='creatTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>