<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.post.mapper.MPostMapper">
    
    <resultMap type="MPost" id="MPostResult">
        <result property="postId"    column="post_id"    />
        <result property="postUserIs"    column="post_user_is"    />
        <result property="postSpan"    column="post_span"    />
        <result property="postText"    column="post_text"    />
        <result property="creatTime"    column="creat_time"    />
        <result property="barId"    column="bar_id"    />
        <result property="postJurisdiction"    column="post_jurisdiction"    />
    </resultMap>

    <sql id="selectMPostVo">
        select post_id, post_user_is, post_span, post_text, creat_time, bar_id, post_jurisdiction from m_post
    </sql>

    <select id="selectMPostList" parameterType="MPost" resultMap="MPostResult">
        <include refid="selectMPostVo"/>
        <where>  
            <if test="postUserIs != null "> and post_user_is = #{postUserIs}</if>
            <if test="postSpan != null  and postSpan != ''"> and post_span = #{postSpan}</if>
            <if test="postText != null  and postText != ''"> and post_text = #{postText}</if>
            <if test="creatTime != null "> and creat_time = #{creatTime}</if>
            <if test="barId != null "> and bar_id = #{barId}</if>
            <if test="postJurisdiction != null "> and post_jurisdiction = #{postJurisdiction}</if>
        </where>
    </select>
    
    <select id="selectMPostById" parameterType="Long" resultMap="MPostResult">
        <include refid="selectMPostVo"/>
        where post_id = #{postId}
    </select>
        
    <insert id="insertMPost" parameterType="MPost" useGeneratedKeys="true" keyProperty="postId">
        insert into m_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postUserIs != null ">post_user_is,</if>
            <if test="postSpan != null  and postSpan != ''">post_span,</if>
            <if test="postText != null  and postText != ''">post_text,</if>
            <if test="creatTime != null ">creat_time,</if>
            <if test="barId != null ">bar_id,</if>
            <if test="postJurisdiction != null ">post_jurisdiction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postUserIs != null ">#{postUserIs},</if>
            <if test="postSpan != null  and postSpan != ''">#{postSpan},</if>
            <if test="postText != null  and postText != ''">#{postText},</if>
            <if test="creatTime != null ">#{creatTime},</if>
            <if test="barId != null ">#{barId},</if>
            <if test="postJurisdiction != null ">#{postJurisdiction},</if>
         </trim>
    </insert>

    <update id="updateMPost" parameterType="MPost">
        update m_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="postUserIs != null ">post_user_is = #{postUserIs},</if>
            <if test="postSpan != null  and postSpan != ''">post_span = #{postSpan},</if>
            <if test="postText != null  and postText != ''">post_text = #{postText},</if>
            <if test="creatTime != null ">creat_time = #{creatTime},</if>
            <if test="barId != null ">bar_id = #{barId},</if>
            <if test="postJurisdiction != null ">post_jurisdiction = #{postJurisdiction},</if>
        </trim>
        where post_id = #{postId}
    </update>

    <delete id="deleteMPostById" parameterType="Long">
        delete from m_post where post_id = #{postId}
    </delete>

    <delete id="deleteMPostByIds" parameterType="String">
        delete from m_post where post_id in 
        <foreach item="postId" collection="array" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </delete>
    
</mapper>